body
{
	background: #FFFFF6;
}

.header-img
{
width: 1024px;
height: 200px;
background-image: url("../img/header.png");
background-size: 100% 100%;
background-repeat: no-repeat;
}

.header-pic
{
width: 130px;
height: 165px;
background-image: url("../img/headerpic.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
left: 70px;
bottom:-30px;
}

.hv-img
{
width: 105px;
height: 135px;
position: relative;
bottom: -15px;
left: 15px;
}

@media screen and (max-width: 768px)
{
	nav
	{
	width: 80%;
	background-image: url("../img/nav-xs.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding:5px;
	}
	
	#uMenu
	{
	position:relative;
	left:20px;
	}
}

@media screen and (min-width: 769px)
{
	nav
	{
	width: 80%;
	background-image: url("../img/nav.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding:5px;
	}
}

.notice
{
width:500px;
height:300px;
background-image: url('../img/div.png');
background-size: 100% 100%;
background-repeat: no-repeat;
padding-left:10px;
padding-top:2px;
}


